<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UUID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18E05AE21CB389FD00F45C75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E05AFB1CB389FD00F45C75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E05B061CB389FD00F45C75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
